html(lang='en')
head
    meta(charset='utf-8')
    title (Step) Out from the Crowd
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //Le styles 
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    link(href='assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
    // HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    include navbar

    #myCarousel.carousel.slide.pagination.centered
      .carousel-inner
        .item.active
          img(src='assets/img/ulice.jpg', alt='', title='Photo from http://www.flickr.com/photos/92349434@N00/395836079/sizes/l/in/photostream/')
          .container
            .carousel-caption
              h1 (Step) Out from the Crowd!
              p.lead
                | I have never thought, for my part, that man's freedom consists in his being able to do whatever he wills, but that he should not, by any human power, be forced to do what is against his will.
              p(style='text-align: right;') Jean-Jacques Russeau
      //
        a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a
      p.pull-right(style='position: relative; top: -20px; color: white;')
        | Photo by&nbsp;
        a(href='http://www.flickr.com/photos/92349434@N00/') Raggedy Man&nbsp;
        p
    //
       /.carousel 
    //
       Marketing messaging and featurettes
    //
       Wrap the rest of the page in another container to center all the content. 
    .container.marketing
      //
         Three columns of text below the carousel 
      #description.row.st-scroll.featurette
        .span12
          h2.featurette-heading
            | About the training.&nbsp;
            span.muted What is it about.
          p.lead
            | (Step) Out from the Crowd is an international training using methods of experiential learning. Young participants will experience a life in a society violating human rights and personal freedom. They will compare this society to their daily lives, search for common features and clarify their role in today's society. The training will promote active citizenship and personal responsibility. 

          h3
            |  What can you expect

          p
            | You will experience how freedom can be restricted. 
          p
            | You will have an opportunity to try to fight for your rights and freedom.
          p
            | You will have time to think about the ways you limit yourself and what you can do to be more free to follow your dreams and goals.    
          p
            | You will reflect how your freedom is restricted in today's society and discuss this with the other participants from Visegrad countries.  
          p
            | You will have an opportunity to plan small steps that you personally can do to promote freedom in your own community.          
          h3
            | Practical info
          p
            :markdown
              **When**: 14. - 17. 3. 2013

              **Where**: the Czech Republic, Veselí nad Lužnicí ([map](https://maps.google.com/maps?q=Vesel%C3%AD+nad+Lu%C5%BEnic%C3%AD,+Czech+Republic&hl=en&ie=UTF8&sll=37.0625,-95.677068&sspn=48.77566,92.724609&geocode=FdSG7gIdukrgAA&hnear=Vesel%C3%AD+nad+Lu%C5%BEnic%C3%AD,+Czech+Republic&t=m&z=12))

              **For whom**: 25 people from Poland, Slovakia, Hungary and the Czech Republic aged 18-30
          

      //START THE FEATURETTES 
      hr.featurette-divider
      #about-us.featurette
        h2.featurette-heading
          | Trainers Team.
          span.muted&nbsp;Who we are and what we do.
        p.lead
          | The team behind the Out From the Crowd! training was brought together by shared enthusiasm for volunteering.
        p
          | We have all been participating in INEX-SDA's trainings for many years now. In 2011 when the Volunteers Club was estabilished we all became members of the Trainers working group. Very soon we started to prepare our own one-weekend-long training course "Na jedné lodi" which was realized in March 2012. Because we recieved very positive feedback and we were full of enthusiasm, we decided to go on and came up with the idea of (Step) Out of the Crowd. This training received financial support from the Visgrad Fund.

        .profiles
          include profiles

        hr.featurette-divider
      #contact.featurette
        h2.featurette-heading
          | Contacts.&nbsp;
          span.muted If you have any questions.
        p.lead
          | Do not hesitate and e-mail us at&nbsp;
          a(href="mailto:dok.trainers@inexsda.cz")
            | dok.trainers@inexsda.cz
          | .
          | We'll reply as soon as we can!
          
      hr.featurette-divider

      //
         /END THE FEATURETTES 
      //
         FOOTER 
      footer
        p.pull-right
          a(href='#') Back to top
        //p
        //  | © 2012 Company, Inc. ·
        //  a(href='#') Privacy
        //  | ·
        //  a(href='#') Terms
    //
       /.container 
    //
       Le javascript
    //
       Placed at the end of the document so the pages load faster 
    script(src='http://code.jquery.com/jquery-1.9.0.min.js')
    script(src='assets/js/bootstrap.js')
    script
      !function ($) {
      $(function(){
      // carousel demo
      $('#myCarousel').carousel()
      })
      }(window.jQuery)
    script(src='assets/js/scrollableLinks.js')

