html(lang='en')
head
    meta(charset='utf-8')
    title (Step) Out of the Crowd
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    //Le styles 
    link(href='assets/css/bootstrap.css', rel='stylesheet')
    link(href='assets/css/bootstrap-responsive.css', rel='stylesheet')
    link(href='assets/css/main.css', rel='stylesheet')
    // HTML5 shim, for IE6-8 support of HTML5 elements 
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    include navbar

    #myCarousel.carousel.slide
      .carousel-inner
        .item.active
          img(src='assets/img/ulice.jpg', alt='', title='Photo from http://www.flickr.com/photos/92349434@N00/395836079/sizes/l/in/photostream/')
          .container
            .carousel-caption
              h1 (Step) Out of the Crowd!
              p.lead
                | I have never thought, for my part, that man's freedom consists in his being able to do whatever he wills, but that he should not, by any human power, be forced to do what is against his will.
              p(style='text-align: right;') Jean-Jacques Russeau
      //
        a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a
      p.pull-right(style='position: relative; top: -20px; color: white;')
        | Photo by&nbsp;
        a(href='http://www.flickr.com/photos/92349434@N00/') Raggedy Man
        p
    //
       /.carousel 
    //
       Marketing messaging and featurettes
    //
       Wrap the rest of the page in another container to center all the content. 
    .container.marketing
      //
         Three columns of text below the carousel 
      #description.row.st-scroll.featurette
        .span12
          h2.featurette-heading
            | O kurzu.
            span.muted&nbsp;Máš svoji hlavu a stojíš si za svým?
          p.lead
            | Máš pocit, že žiješ ve světě příkazů a pravidel?
            | Chceš měnit věci kolem sebe?
          p.lead
            | Tak 
            b
              | Vystup z řady!&nbsp;
            | a pojeď s námi na prožitkový kurz!

          p
            :markdown
              Vystup z řady! je **autorský prožitkový kurz**, za kterým stojí členové lektorské sekce INEX-SDA.

              Vystup z řady! ti dá možnost, jak odhodit vlastní zábrany.

              Vystup z řady! je prodloužený víkend v krásném prostředí se skvělými lidmi.

              Vystup z řady! se uskuteční **ve dnech 14. - 17. března 2013**.

              Vystup z řady! ti za **cenu 1490** Kč naservíruje plnou penzi, střechu nad hlavou a nezapomenutelný žážitek.
          

      //START THE FEATURETTES 
      hr.featurette-divider
      #about-us.featurette
        h2.featurette-heading
          | Lektorský tým.
          span.muted&nbsp;Kdo jsme a co děláme.
        p.lead
          | Tým, který stojí za zážitkovým kurzem „Vystup z řady!“ dalo dohromady společné nadšení pro dobrovolnictví. 
        p
          | Své lektorské zkušenosti většina z nás nejprve předávala na školeních a setkáních pořádaných skrze INEX-SDA a když byl v roce 2011 založen dobrovolnický klub DoK, nadšeně jsme se připojili do lektorské a školitelské sekce. 
          Když pak přišla nabídka uskutečnit vlastní víkendový kurz, neváhali jsme ani minutu a pustili se do práce. Výsledkem byl prožitkový kurz „Na jedné lodi“, který se uskutečnil v březnu r. 2012. A protože ohlasy byly kladné a naše nadšení veliké, rozhodli jsme se v pořádání podobných kurzů pokračovat. A tak vznikl tento kurz.

        .profiles
          include profiles

        hr.featurette-divider
      #contact.featurette
        h2.featurette-heading
          | Kontakty.&nbsp;
          span.muted Pokud máte nějaké dotazy.
        p.lead
          | Pište na&nbsp;
          a(href="mailto:vystup.z.rady@gmail.com")
            | vystup.z.rady@gmail.com
          | .
          | Odpovíme Vám hned jak bude v našich silách.
          
      hr.featurette-divider

      //
         /END THE FEATURETTES 
      //
         FOOTER 
      footer
        p.pull-right
          a(href='#') Back to top
        //p
        //  | © 2012 Company, Inc. ·
        //  a(href='#') Privacy
        //  | ·
        //  a(href='#') Terms
    //
       /.container 
    //
       Le javascript
    //
       Placed at the end of the document so the pages load faster 
    script(src='http://code.jquery.com/jquery-1.9.0.min.js')
    script(src='assets/js/bootstrap.js')
    script
      !function ($) {
      $(function(){
      // carousel demo
      $('#myCarousel').carousel()
      })
      }(window.jQuery)
    script(src='assets/js/scrollableLinks.js')

