.navbar-wrapper
  //Wrap the .navbar in .container to center it within the absolutely positioned parent. 
  .container
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        // Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. 
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='/#') Vystup z řady!
        // Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. 
        .nav-collapse.collapse
          ul.nav
            li.active
              a(href='/#description') About The Training
            li
              a(href='/#about-us') About Us
            li
              a(href='/#contact') Contact


