.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/tom.jpg', width='170')
  .span7
    p.lead Tomas
    p
      | Tomas se ochomyta kolem INEXu uz leta. Ma rad parky, vecernicky a klokany. zivotnim Jeho snem je zalozit si bonzai-ZOO, kde by se minizirafy mohly prohanet pidisavanou.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/ela.jpg', width='170')
  .span7
    p.lead Ela
    p
      | Eliscinym hobby je beh v zelenem saku o pousti (tzv. Irish running). Jejim zivotnim snem je mit v obyvaku travnika a naucit Tomase neodkladat houbicku na nadobi do drezu.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/alca_small.jpeg', width='170')
  .span7
    p.lead Alča
    p
      | Ač si všechno pečlivě plánuje do diáře, má ráda dny a situace, kdy je všechno jinak. I přes svou lenost se děsí okamžiku, kdy nebude mít co dělat. A i když není vegetariánka, tak si myslí, že žampiony jsou nejlepší maso. Ráda jezdí metrem a pozoruje ostatní.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/via.jpg', width='170')
  .span7
    p.lead Violka
    p Tady chybi popis Violky.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/peta.jpg', width='170')
  .span7
    p.lead Petra
    p Tady chybi popis Petry.

p
  | A tady chybi popisy dalsich lidi, ale nemam cas je sem ted davat… Pockam, az mi je poslou.

