.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/tom.jpg', width='170')
  .span7
    p.lead Tomas
    p
      | Tomas has been involved with INEX for quite a few years now (almost too long to recall). He's been a part of the team that prepares the future workcamp leaders for their roles since 2006 and he's lead four volunteer projects in the Czech Republic so far. He's a Computer Sciences graduate from the Charles University of Prague and he enjoys good food, travelling, badminton and (of course) giraffes.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/ela.jpg', width='170')
  .span7
    p.lead Ela
    p
      | Eliscinym hobby je beh v zelenem saku o pousti (tzv. Irish running). Jejim zivotnim snem je mit v obyvaku travnika a naucit Tomase neodkladat houbicku na nadobi do drezu.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/alca_small.jpeg', width='170')
  .span7
    p.lead Alča
    p
      | Ač si všechno pečlivě plánuje do diáře, má ráda dny a situace, kdy je všechno jinak. I přes svou lenost se děsí okamžiku, kdy nebude mít co dělat. A i když není vegetariánka, tak si myslí, že žampiony jsou nejlepší maso. Ráda jezdí metrem a pozoruje ostatní.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/via.jpg', width='170')
  .span7
    p.lead Viola
    p
      | Viola studies social pedagogy, andragogy, personal management and psychology and is born and raised in Prague. She works at the crisis hotline and every now and then gives lectures at schools. With INEX she cooperates on camp leader training seminars. She's constantly on the move and when she has some spare time, her hobby is travelling - she fell in love with Mexico and right now she's backpacking on Sri Lanka. Viola can't resist a good enchilada. She never sleeps.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/peta_small.jpg', width='170')
  .span7
    p.lead Petra
    p
      | Petra joined alomost all kinds of INEX activities. She went to Vietnam for several months for a global development project, spend a year volunteering in Georgia and was a campleader of various workcamps. She studied developmental studies and has been working for the Czech Ministry of Education.
      | She is extremely active, when she is not volunteering or travelling she likes to play badminton. She cannot switch off even when sleeping, she is……………… sleepwalking! (pssst, it is a secretJ)    

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/petr_small.png', width='170')
  .span7
    p.lead Petr
    p
      | Petr has been an active volunteer for seven years. He first met INEX-SDA when he went to dig some holes to France. Since then he learned a lot of other useful stuff, such as how to lead a workcamp by himself, how to train other volunteers, communicate with media and do some fundraising. He also founded a Czech microvolunteering platform Um sem um tam. His dream is to do volunteering for living and not to have to go work every day.
