.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/tom.jpg', width='170')
  .span7
    p.lead Tomas
    p
      | Tomas has been involved with INEX for quite a few years now (almost too long to reacall). He's been a part of the team that prepares the future workcamp leader for their roles since 2006 and hes' lead four projects in the Czech Republic (so far). He's a Computer Sciences graduate from the Charles University of Prague and he enjoys good food, travelling, badminton and (of course) giraffes.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/ela.jpg', width='170')
  .span7
    p.lead Ela
    p
      | Eliscinym hobby je beh v zelenem saku o pousti (tzv. Irish running). Jejim zivotnim snem je mit v obyvaku travnika a naucit Tomase neodkladat houbicku na nadobi do drezu.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/alca_small.jpeg', width='170')
  .span7
    p.lead Alča
    p
      | Ač si všechno pečlivě plánuje do diáře, má ráda dny a situace, kdy je všechno jinak. I přes svou lenost se děsí okamžiku, kdy nebude mít co dělat. A i když není vegetariánka, tak si myslí, že žampiony jsou nejlepší maso. Ráda jezdí metrem a pozoruje ostatní.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/via.jpg', width='170')
  .span7
    p.lead Violka
    p Tady chybi popis Violky.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/peta_small.jpg', width='170')
  .span7
    p.lead Petra
    p
      | Petra joined alomost all kinds of INEX activities. She went to Vietnam for several months for a global development project, spend a year volunteering in Georgia and was a campleader of various workcamps. She studied developmental studies and has been working for the Czech Ministry of Education.
      | She is extremely active, when she is not volunteering or travelling she likes to play badminton. She cannot switch off even when sleeping, she is……………… sleepwalking! (pssst, it is a secretJ)    

p
  | A tady chybi popisy dalsich lidi, ale nemam cas je sem ted davat… Pockam, az mi je poslou.

