.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/tom.jpg', width='170')
  .span7
    p.lead Tomáš
    p
      | Tomas has been involved with INEX for quite a few years now (frankly, almost too long to recall). He's been a part of the team that prepares the future workcamp leaders for their roles since 2006 and he's lead four volunteer projects in the Czech Republic so far. He's a Computer Sciences graduate from the Charles University in Prague and he enjoys good food, travelling, badminton and (naturally) giraffes.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/ela_small.jpg', width='170')
  .span7
    p.lead Eliška
    p
      | Eliška has been involved with various volunteering organisations for quite a few years now. She studied Czech and English and has been teaching languages as a freelancer for several years. In the meantime she worked also as a youth trainer. She enjoys a good cup of coffee, books, playing her saxophone or putting on a backpack and getting lost deep in the mountains of Central Asia at any time. She also loves yoga, philosophy and music.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/alca_small.jpg', width='170')
  .span7
    p.lead Alena
    p
      | Thanks to INEX-SDA Alena appreciated how great volunteerism is. She has attended several workcamps and trainings across Europe, led two camps in the Czech Republic and she still doesn't have enough. She studied sociology and now is working for the Ministry of Labour and Social Affairs. Alena likes travelling by underground and cannot imagine world without cats. She's looking forward to the day when she visits Iceland.
.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/via.jpg', width='170')
  .span7
    p.lead Viola
    p
      | Viola studies social pedagogy, andragogy, personal management and psychology and is born and raised in Prague. She works at the crisis hotline and every now and then gives lectures at schools. With INEX she cooperates on camp leader training seminars. She's constantly on the move and when she has some spare time, her hobby is travelling - she fell in love with Mexico and right now she's backpacking on Sri Lanka. Viola can't resist a good enchilada. She never sleeps.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/peta_small.jpg', width='170')
  .span7
    p.lead Petra
    p
      | Petra joined almost all kinds of INEX activities. She went to Vietnam for several months for a global development project, spend a year volunteering in Georgia and was a campleader of various workcamps. She studied developmental studies and has been working for the Czech Ministry of Education.
      | She is extremely active, when she is not volunteering or travelling she likes to play badminton. She cannot switch off even when sleeping, she is……………… sleepwalking! (pssst, it is a secretJ)    

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/petr_small.png', width='170')
  .span7
    p.lead Petr
    p
      | Petr has been an active volunteer for seven years. He first met INEX-SDA when he went to dig some holes to France. Since then he learned a lot of other useful stuff, such as how to lead a workcamp by himself, how to train other volunteers, communicate with media and do some fundraising. He also founded a Czech microvolunteering platform Um sem um tam. His dream is to do volunteering for living and not to have to go to work every day.

.row.person-profile
  .span2
    img.pull-left.img-rounded(src='assets/img/lenka_small.jpg', width='170')
  .span7
    p.lead Lenka
    p
      | Lenka is active in volunteerism with INEX-SDA and People in Need. In summer 2007 and summer 2008 she was the leader of an international workcamp in the Czech Republic - Hartenberg. Since then she is regularly coming back to help with works on the castle or to help prepare or organize some of some cultural events. In 2010 she was tutoring children from socially disadvantaged families with the People in Need NGO. In summer 2012 she was the leader of a summer camp for children from socially disadvantaged families. Currently Lenka is working for the Prague City Hall. She loves yoga, cross-country skying and her dog Beta.
